/* nav bar  */
.navbar {
  padding: 0 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
font-family: 'Montserrat', sans-serif;
}
.nav-link {
  font-size: 1.1rem;
  font-weight: bold;
}

h1{
  font-family: 'Staatliches', cursive;
}

p{
  line-height: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

h5{
    font-family: 'Montserrat', sans-serif;
}
/* title */

.masthead {
  background-image: url("../images/Wooden-board-chicken-run-livraison-2.jpg");
   height: 70%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

#title {
  text-align: center;
  color: white;
}
.friedChicken {
  width: 100%;
}

.titleText {
  margin-top: 5%;
}

/* buttons */
.callButton {
  margin: 5% 3% 5% 0;
}
/* delivery */
.delivery-img {
width: 30%;
margin-bottom: 1.7rem;
}

#delivery{
  padding: 3% 7%;
  text-align: center;
}

.deliveryBox{
  padding: 5%;
}

.callButton {
  font-family: 'Montserrat', sans-serif;
}

/* find us  */
#findUs {
  text-align: center;
}

.logoImage{
  width: 60%;
  padding: 7% 0;
}

/* maps */
#maps {
  text-align: center;
}
/* menu */
#menu {
min-height: 270px;
background-color: #010101;
color: white;
text-align: center;
}

/* order Now  */
#orderNow{
  text-align: center;
  padding: 3% 0;
}
/* footer */
#footer {
  text-align: center;
}
