/* nav bar  */
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}

/* title */
#title {
  background-color: white;
  height: 500px;
}

.welcome-text {
  text-align: center;
  color: black;
  padding: 3%

}
.fried-chicken-img {
  width: 100%;
}
/* delivery */
.delivery-img {
width: 100%;
}
.delivery-text {
  text-align: center;
}


/* platforms */
.platforms-img {
height: 50%;
border-radius: 100%;
}

/* map */

/* menu */
#menu {
min-height: 270px;
background-color: #010101;
color: white;
text-align: center;
}

/* order Now  */
.phoneNumber{
  height: 400px;
  text-align: center;
}
/* footer */
#footer {
  text-align: center;
}
