/* nav bar  */
.nav-item {
  padding: 0 18px;
font-family: 'Montserrat', sans-serif;
}
.nav-link {
  font-size: 1.1rem;
}

h1{
  font-family: 'Staatliches', cursive;
}

p{
  line-height: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}
/* title */

.masthead {
  background-image: url("../images/Wooden-board-chicken-run-livraison-2.jpg");
   height: 70%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

#title {
  text-align: center;
  color: white;
}
.fried-chicken-img {
  width: 100%;
}

/* delivery */
.delivery-img {
width: 70%;
}
#delivery{
  text-align: center;
}

.callButton {
  font-family: 'Montserrat', sans-serif;
}

/* find us  */
#findUs {
  text-align: center;
}

.logoImage{
  width: 60%;
  padding: 7% 0;
}

/* maps */
#maps {
  text-align: center;
}
/* menu */
#menu {
min-height: 270px;
background-color: #010101;
color: white;
text-align: center;
}

.menuImage{
  width: 100%;
}

/* order Now  */
.phoneNumber{
  text-align: center;
  padding: 3% 0;
}
/* footer */
#footer {
  text-align: center;
}
